      <aside class="contact">
        <h2>{{ config.organization.name }}</h2>
        <p>{{ config.organization.address.streetAddress }}</p>
        <p>{{ config.organization.address.addressLocality }}, {{ config.organization.address.addressRegion }} {{ config.organization.address.postalCode }}</p>
        <p>{{ config.organization.telephone }}</p>
      </aside>
