{# nav_list: collection of pages #}
{# nav_title: label for list #}
      <nav aria-label="{{ nav_title }}">
        <input type="checkbox" id="nav-{{ nav_title }}-toggle" >
        <label for="nav-{{ nav_title }}-toggle" >{{ nav_title }}</label>
        <ul>
{% for p in nav_list %}
{%   if p.published %}
{%     set selected = (p.active or p.activeChild) ? ' aria-selected="true"' : '' %}
{%     set current = (p.url == page.url) ? ' aria-current="true"' : '' %}
          <li>
            <a href="{{ p.url }}" 
              title="{{ p.header.subtitle }}" 
              {{ selected }} {{ current }}>{{ p.menu }}</a>
          </li>
{%   endif %}
{% endfor %}
        </ul>
      </nav>
