{% block pagination %}
      <!-- pagination.html.twig -->
{% if config.plugins.pagination.enabled and page.collection.params.pagination %}
{%   set pagination = pagination|default(page.collection.params.pagination) %}
{%   set base_url = base_url|default(page.url) %}
      <div class="row">
        <div class="col-md-12">
{%   if pagination|length > 1 %}
          <nav aria-label="Page navigation">
            <ul class="pagination pagination-sm">
{%     if pagination.hasPrev %}
{%       set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
              <li><a href="{{ url }}" rel="prev" aria-label="Previous Set" >&lt;</a></li>
{%     else %}
              <li class="disabled" aria-hidden="true"><a href="#">•</a></li>
{%     endif %}

{%     for paginate in pagination %}
{%       if paginate.isCurrent %}
              <li class="active"><span>{{ paginate.number }}</span></li>
{%       elseif paginate.isInDelta %}
{%         set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
              <li><a href="{{ url }}">{{ paginate.number }}</a></li>
{%       elseif paginate.isDeltaBorder %}
              <li class="gap"><span>&hellip;</span></li>
{%       endif %}
{%     endfor %}

{%     if pagination.hasNext %}
{%       set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
              <li><a href="{{ url }}" rel="next" aria-label="Next Set" >&gt;</a></li>
{%     else %}
              <li class="disabled" aria-hidden="true"><a href="#">•</a></li>
{%     endif %}
            </ul>
          </nav>
{%   endif %}
        </div>
      </div>
{% endif %}
{% endblock %}
