{% set share_url = article.permalink %}
{% set share_description = article.summary %}
{% set share_image = config.url + url_for(config.logo) %}
          <nav class="article-share">
            <h2>Share</h2>
            <ul>
              <li><a title="share on email" 
                  href="mailto:?subject={{ article.title|url_encode }}&body={{ share_url }}" >e</a></li>
              <li><a target="_blank" rel="noopener" title="share on facebook" 
                  href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" >f</a></li>
              <li><a target="_blank" rel="noopener" title="share on twitter" 
                  href="https://twitter.com/intent/tweet?url={{ share_url }}&text={{ article.title|url_encode }}" >t</a></li>
              <li><a target="_blank" rel="noopener" title="share on linkedin" 
                  href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title={{ article.title|url_encode }}" >i</a></li>
              <li><a target="_blank" rel="noopener" title="share on pinterest" 
                  href="https://pinterest.com/pin/create/button/?url={{ share_url }}&media={{ share_image }}&description={{ share_description|striptags|url_encode }}" >n</a></li>
            </ul>
          </nav>
