{% if article.header.date or article.header.author  %}
          <aside class="details">
            <h2>Details</h2>
            <dl>
{%   if article.header.date %}
              <dt>Posted</dt>
              <dd><time title="{{ article.date|date("F d, Y") }}" datetime="{{ article.date|date("Y-m-d") }}">{{ article.date|nicetime() }}</time></dd>
{%   endif %}
{%   if article.header.author %}
              <dt>By</dt>
              <dd>{{ article.header.author }}</dd>
{%   endif %}
{%   if article.header.date %}
              <dt>Modified</dt>
              <dd><time title="{{ article.modified|date("F d, Y") }}" datetime="{{ article.modified|date("Y-m-d") }}">{{ article.modified|nicetime() }}</time></dd>
{%   endif %}
            </dl>
          </aside>
{% endif %}
